////
/// @BASE -> PAGE
////

@import url('https://fonts.googleapis.com/css?family=Catamaran:500,800|EB+Garamond')

html
  font-family: 'Catamaran', $sans-serif
  background-color: #091826

  h1,h2,h3,p
    color: white
  a
    color: #F1D325
  ::selection
    background: #F1D325
    color: #333

header
  background-image: url('http://subdrift.s3.amazonaws.com/background.jpg')
  background-size: cover
  background-position: center
  background-repeat: no-repeat
  height: 900px
  padding-top: 19em


  a.social
    margin-right: 10px
    &:hover
      transform: scale(1.2)

  .marquee
    background-image: url('http://subdrift.s3.amazonaws.com/marquee@2x.png')
    background-size: contain
    background-repeat: no-repeat
    background-position: center
    width: 100%
    height: 440px

  #green
    background-color: #141b13
    padding: 3em
    box-shadow: 0 -5px 10px rgba(0,0,0,.3)

    @media (max-width: 500px)
      padding: 1em

    h1
      margin: 10px 0
      font-size: 4em
      letter-spacing: -0.03rem
      line-height: 1.2em

      @media (max-width: 500px)
        font-size: 2.7em
        line-height: 1.2em
      
    h2
      font-weight: 300
      line-height: 1.2em
    p
      font-family: 'EB Garamond'
      font-size: 1.4rem
      a
        font-family: 'Catamaran'
        font-size: 1.3rem
        text-decoration: none
        margin: 6px 6px 6px 0

        @media (max-width: 762px)
          width: 100%



a.btn, .btn
  background-color: #2D4E72
  border: none
  margin-right: 10px
  border-radius: 4px
  border-color: transparent
  &:hover
    background: darken(#2D4E72,10%)

#mc_embed_signup input
  border: none !important
  padding: 14px
  width: 100%
  margin-bottom: 10px
  font-size: 1.3rem
  outline: none

  &:focus
    background-color: #ffffdd

  &.email
    width: 440px
    height: 53px


#mc_embed_signup form
  padding: 10px 0 30px 0% !important

#mc-embedded-subscribe.btn
  background-color: #2D4E72
  &:hover
    background: darken(#2D4E72,10%)