meta charset='utf-8'
title Subcontinental Drift: April 16, 2018, 6:30PM @ NWFF
= stylesheet_link_tag 'application.css', media: 'all'
link rel='dns-prefetch' href='//cdnjs.cloudflare.com'
link rel='dns-prefetch' href='//www.google-analytics.com'
link rel='shortcut icon' href="#{image_path('favicon.png')}"
link href="#{image_path('apple-touch-icon.png')}" rel="apple-touch-icon" sizes="180x180"
link href="#{image_path('favicon-32x32.png')}" rel="icon" sizes="32x32" type="image/png"
link href="#{image_path('favicon-16x16.png')}" rel="icon" sizes="16x16" type="image/png"
link href="#{image_path('manifest.json')}" rel="manifest"
link color="#5bbad5" href="#{image_path('safari-pinned-tab.svg')}" rel="mask-icon"
meta content="#ffffff" name="theme-color"

meta content='initial-scale=1, user-scalable=yes, width=device-width' name='viewport'
meta http-equiv='X-UA-Compatible' content='IE=edge'
meta content='on' http-equiv='cleartype'
meta content='True' name='HandheldFriendly'
meta content='320' name='MobileOptimized'

/ needed for gallery
script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"
link href="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet"
script src="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js" 


/[if lt IE 9]
  = javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js'
  = javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js'
= yield_content :head
