meta name='description' content="Celebrating South Asian talent and building community in Seattle, WA"
meta property='og:url' content="http://subdrift.com"
meta property='og:title' content="Subcontinental Drift Seattle"
meta name='twitter:title' content="Subcontinental Drift Seattle"
meta property='og:image' content="http://subdrift.s3.amazonaws.com/subdrift.jpg"
meta property='og:description' content="Celebrating South Asian talent and building community in Seattle, WA"
meta name='twitter:site' content="http://twitter.com/"
meta name='twitter:creator' content="@subdriftsea"
meta property='article:author ' content="Ash Bhoopathy"
meta property='og:site_name' content="Subcontinental Drift Seattle"
meta name='twitter:card' content='summary_large_image'
